<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{% block title %}Innebandy{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/media/styles.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/mootools/1.4.1/mootools-yui-compressed.js" type="text/javascript" charset="utf-8"></script>
  <script src="/media/floorball.js" type="text/javascript" charset="utf-8"></script>
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
</head>
<body>
  <div id="content">
    <h1>{% block label %}unnamed{% endblock %}</h1>
    <hr />
    {% block content %}{% endblock %}
  </div>
</body>
</html>
